body {
    background-color: #9e9e9e;
    padding: 0;
    margin: 0;
    font-family: "Courier New", sans-serif;
    font-weight: bold;
}

.twt {
    margin: 50px;
    padding: 0;
    position:absolute;
    bottom:0;
    left:0;
    
}

img {
    width: 20px;
}

canvas {
    border-style: solid;
    border-width: 10px;
    border-color: #b4b4b4;
}

.dg ul {
}


.dg.main .close-button {
    background-color: #ccc;
    display: none;
}

.dg.main.a {
    width: 300px;
    border: 1px solid rgba(181, 181, 181, 1.0);
}

.dg {
    color: rgb(226, 226, 226);
    text-shadow: none !important;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    border: 1px solid rgba(181, 181, 181, 1.0);
}

.dg.main::-webkit-scrollbar {
    background: #fafafa;
}

.dg.main::-webkit-scrollbar-thumb {
    background: #bbb;
}

.dg li:not(.folder) {
    background: #1a1a1a;
    border: 1px solid rgba(181, 181, 181, 1.0);
}

.dg li.save-row .button {
    text-shadow: none !important;
}

.dg li {
}


.dg .c {
    width: 152px;
}

.dg .property-name {
    width: 70px;
}

.dg li.title {
    background: #e8e8e8 url(data:image/gif;base64,R0lGODlhBQAFAJEAAP////Pz8////////yH5BAEAAAIALAAAAAAFAAUAAAIIlI+hKgFxoCgAOw==) 6px 10px no-repeat;
}

.dg .cr.function:hover,.dg .cr.boolean:hover {
    background: rgb(39, 182, 47);
}

.dg .cr.number input[type=text] {
    background: #1f1f1f;
    color: rgb(224, 224, 224);
    font-size: 14px;
    font-family: 'Courier New', monospace;
    
    width: 60px;
}

.dg .cr.number {
    border: 1px solid rgba(181, 181, 181, 1.0);
}



.dg .c input[type=text] {
}

.dg .c .slider-fg {
    background: #aeaeae;
}

.dg .c .slider:hover .slider-fg {
    background: #aeaeae;
}

.dg .c .slider {
    background: #3a3a3a;
    width: 80px;
}

.dg .c .slider:hover {
    background: #3a3a3a;
}
